body {
    font-size: 16px; /*pix significa "pixels"
    font-size é o tamanho da fonte base que agora é 16 pixels*/
    font-family: arial,helvetica,sans-serif; /* este é o nome da fonte*/
}
h1{
    text-align: center;
}
p {
    color:yellow;
    background-color: black;
    margin-top: -10px;
}